
@keyframes fadeInDown{
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.checkbox-group {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #2a1d3d;

}

.headSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.headSelect label {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

.selectedAll {
  padding: 5px 15px;
  background-color: #4e248c;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: medium;
  font-weight: bold;
}

.selectedAll:hover {
  background-color: #0056b3;
}
.selectType {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.selectType:hover {
  background-color: #52357c;
  color: white;
}

.selectType input[type="checkbox"] {
  margin-right: 15px;
  transform: scale(1.5);
}

.selectType label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.selectType .fileTypeName {
  font-weight: bold;
}

.selectType .fileSize {
  color: #000000;
  font-size: 0.9em;
  margin-right: 20px;
  font-weight: bold;
}

.select1 {
  font-size: medium;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

.select1:focus {
  border-color: #007bff;
  outline: none;
}

.downloadButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.downloadButton button {
  padding: 10px 20px;
  background-color: #7003bf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-weight: bold;
}

.downloadButton button:hover {
  background-color: #1b002e;
  transform: translateY(-5px);
}

.a{
  animation: fadeInDown 1.5s;
}

.fileIcon{
  width: 20px;
  margin-right: 10px;
}


.downloadButton {
  padding: 10px;
  font-size: 16px;
}



